{# 
Note pour Eval 
1. Creation du formulaire en conformite avec Form/TicketType.php
   pour le bouton connection on aura apres une route vers app_login 
2. Ajout bouton Logout 
 #}

{% extends 'base.html.twig' %}

{% block title %}Accueil - Gestion des Tickets{% endblock %}

{% block body %}
 

<div class="example-wrapper">
    <h1 class="mb-4">Plateforme de gestion des tickets</h1>
     
    {# Bouton de connexion #}
    <div class="mb-4">
        
        {% if app.user %} 
        {#
        <p>
            Rôle(s) :
            {% for role in app.user.roles %}
                {{ role }} 
            {% endfor %}
        </p>
        #}
        <a href="{{ logout_path() }}" class="btn btn-secondary">Logout</a>
        {% else %}
         <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
        {% endif %}
    </div>

     {# Formulaire de création de ticket #}
    <div class="card p-4">
        <h2 class="mb-4">Créer un ticket</h2>
        {{ form_start(form) }}
            <div class="mb-3">
                {{ form_row(form.email) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.description) }}
              </div>
            <div class="mb-3">
                {{ form_row(form.categorie) }}
            </div>
            <button type="submit" class="btn btn-success">Soumettre</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
